In [1]:
import selenium
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from tqdm.notebook import tqdm_notebook
import pandas as pd

In [4]:
# Empty list to store data
total_list = []    # store all data in a list
model = []         # store model of car
price = []         # store price of a car

In [7]:
def car24_data(url):
    
    # calling the webdriver and then providing the desired url
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    driver.maximize_window()

    # scroll down the page to the table
    SCROLL_PAUSE_TIME = 0.5

    # Get scroll height
    last_height = driver.execute_script("return document.body.scrollHeight")

    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height
    
    # empty list to store urls
    car24_urls=[]
    for i in driver.find_elements_by_xpath("//a[@class='_9Ue0B']"):
        car24_urls.append(i.get_attribute('href'))
    
    print(len(car24_urls))
    

    # setting a loop from the urls list to find data
    for i in tqdm_notebook(car24_urls[2:]):
        driver.get(i)
        driver.implicitly_wait(10)
        
        # scrapping model of car
        try:model.append(driver.find_element_by_xpath('//h2[@class="_2geSF"]').text)
        except NoSuchElementException:
            model.append("Not Available")
        
        # scrapping price of car
        try:price.append(driver.find_element_by_xpath('//div[@class="text-right g-hPT"]/strong').text)
        except NoSuchElementException:
            price.append("Not Available")
        
        # scrapping data present for the car 
        try:total_list.append(driver.find_element_by_xpath('//ul[@class="_2KO13"]').text)
        except NoSuchElementException:
            total_list.append("Not Avalable")

In [8]:
# Calling function
car24_data("https://www.cars24.com/buy-used-car?sort=P&storeCityId=5&pinId=122001")

2011

HBox(children=(FloatProgress(value=0.0, max=2009.0), HTML(value='')))

In [9]:
# Saving data into pandas dataframe
car24_data=pd.DataFrame({"Model":model,"list":total_list,"Price":price})

car24_data

,Model,list,Price
0,2020 Maruti Baleno DELTA 1.2 K12 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹6,59,399"
1,2020 Maruti IGNIS SIGMA 1.2 K12 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹5,25,699"
2,2020 Maruti S PRESSO VXI,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,08,499"
3,2013 Maruti Swift VDI MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹3,78,499"
4,2014 Maruti Alto 800 VXI MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹2,85,699"
...,...,...,...
2004,2019 Hyundai NEW SANTRO SPORTZ 1.1,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,91,499"
2005,2015 Maruti Alto K10 VXI MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹2,52,299"
2006,2017 Hyundai Elite i20 SPORTZ 1.2 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹5,65,999"
2007,2018 Ford Ecosport 1.5 TREND TDCI MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹7,20,799"
2008,2012 Toyota Fortuner 3.0 AT 4X2 AUTOMATIC,History\nNon-Accidental\nOwner\n2nd Owner\nKil...,"₹13,67,299"

In [10]:
#Saving to excel file
car24_data.to_excel("car24_dataframe1.xlsx",index=False)

In [13]:
# another list to store new data
total_list = []
model = []
price = []


car24_data("https://www.cars24.com/buy-used-car?sort=P&storeCityId=2378&pinId=400001")

1661

HBox(children=(FloatProgress(value=0.0, max=1659.0), HTML(value='')))

WebDriverException: Message: disconnected: Unable to receive message from renderer
  (Session info: chrome=92.0.4515.159)

In [14]:
# Saving data into pandas dataframe
car24_2nd_data=pd.DataFrame({"Model":model,"list":total_list,"Price":price})

car24_2nd_data

,Model,list,Price
0,2013 Maruti Wagon R 1.0 LXI MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹3,30,499"
1,2014 Hyundai i10 MAGNA 1.1 IRDE2 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹3,71,499"
2,2015 Maruti Wagon R 1.0 VXI MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹3,63,999"
3,2015 Maruti Alto 800 LXI MANUAL,History\nNon-Accidental\nOwner\n2nd Owner\nKil...,"₹2,66,299"
4,2011 Maruti Alto LXI MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹2,00,699"
...,...,...,...
676,2017 Maruti Baleno ZETA 1.2 K12 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹5,96,620"
677,2019 Maruti New Wagon-R LXI CNG 1.0 L MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹5,66,499"
678,2015 Maruti Ciaz ZXI PLUS MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹5,69,199"
679,2015 Hyundai Elite i20 ASTA 1.2 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹5,67,399"
680,2011 Hyundai i10 MAGNA 1.1 IRDE2 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹2,60,000"

In [15]:
# Saving into excel file
car24_2nd_data.to_excel("car24_dataframe2.xlsx",index=False)

In [18]:
# For Bangalore
total_list = []
model = []
price = []


car24_data("https://www.cars24.com/buy-used-car?sort=P&storeCityId=4709&pinId=560001")

767

HBox(children=(FloatProgress(value=0.0, max=765.0), HTML(value='')))

In [19]:
# Saving data into pandas dataframe
car24_2n_data=pd.DataFrame({"Model":model,"list":total_list,"Price":price})

car24_2n_data

,Model,list,Price
0,2020 Hyundai NEW SANTRO 1.1 SPORTS AMT MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹6,44,399"
1,2013 Hyundai i10 SPORTZ 1.2 KAPPA2 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,10,599"
2,2015 Maruti Alto K10 VXI AMT,History\nNon-Accidental\nOwner\n2nd Owner\nKil...,"₹3,79,199"
3,2014 Tata Nano XT TWIST MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹1,81,899"
4,2012 Maruti Alto LXI MANUAL,History\nNon-Accidental\nOwner\n2nd Owner\nKil...,"₹2,88,199"
...,...,...,...
760,2014 Tata Zest XT QUADRAJET 90PS MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,10,799"
761,2012 Hyundai i10 MAGNA 1.1 IRDE2 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹2,70,399"
762,2012 Hyundai Verna FLUIDIC 1.6 EX VTVT MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,50,199"
763,2013 Toyota Innova 2.5 G2 7 Seater MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹9,36,999"
764,2014 Ford Classic 1.4 CLXI DURATORQ MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹3,09,999"

In [20]:
car24_2n_data.to_excel("Car24_dataframe3.xlsx",index=False)

In [21]:
# For Ahmedabad
total_list = []
model = []
price = []


car24_data("https://www.cars24.com/buy-used-car?sort=P&storeCityId=1692&pinId=380001")

319

HBox(children=(FloatProgress(value=0.0, max=317.0), HTML(value='')))

In [22]:
# Saving data into pandas dataframe
car24_3r_data=pd.DataFrame({"Model":model,"list":total_list,"Price":price})

car24_3r_data

,Model,list,Price
0,2020 Maruti IGNIS SIGMA 1.2 K12 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹5,29,899"
1,2020 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,83,099"
2,2020 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,61,999"
3,2019 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,75,099"
4,2020 Maruti Alto LXI MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹3,73,799"
...,...,...,...
312,2009 Maruti Wagon R VXI MINOR MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹1,84,099"
313,2019 Hyundai Elite i20 1.2 MAGNA PLUS VTVT MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹5,76,599"
314,2018 Maruti Swift VDI MANUAL,History\nNon-Accidental\nOwner\n2nd Owner\nKil...,"₹4,97,999"
315,2014 Maruti Celerio VXI MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹2,73,299"
316,2014 Maruti Swift VXI MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹3,84,599"

In [23]:
car24_3r_data.to_excel("car24_dataframe4.xlsx")

In [24]:
# Pune
total_list = []
model = []
price = []

car24_data("https://www.cars24.com/buy-used-car?sort=P&storeCityId=2423&pinId=411001")

1338

HBox(children=(FloatProgress(value=0.0, max=1336.0), HTML(value='')))

In [25]:
# Saving data into pandas dataframe
car24_4th_data=pd.DataFrame({"Model":model,"list":total_list,"Price":price})

car24_4th_data

,Model,list,Price
0,2013 Hyundai i20 MAGNA O 1.2 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,07,199"
1,2015 Hyundai Grand i10 ASTA 1.2 AT VTVT AUTOMATIC,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹5,03,899"
2,2011 Toyota Etios Liva G MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹2,75,299"
3,2015 Maruti Alto K10 VXI AMT MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹3,52,999"
4,2011 Chevrolet Spark LT 1.0 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹1,51,799"
...,...,...,...
1331,2010 Maruti Swift Dzire VDI BS IV MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹2,68,599"
1332,2015 Hyundai Creta 1.6 SX (O) CRDI,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹7,82,299"
1333,2011 Hyundai i10 MAGNA 1.2 KAPPA2 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹2,53,499"
1334,2007 Honda City ZX 1.5 EXI,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹1,42,199"
1335,2015 Maruti Ertiga VXI CNG MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹6,36,799"

In [26]:
car24_4th_data.to_excel("car24_dataframe5.xlsx")

In [27]:
# Luckow 
total_list = []
model = []
price = []

car24_data("https://www.cars24.com/buy-used-car?sort=P&storeCityId=290&pinId=226001")

137

HBox(children=(FloatProgress(value=0.0, max=135.0), HTML(value='')))

In [28]:
# Saving data into pandas dataframe
car24_5th_data=pd.DataFrame({"Model":model,"list":total_list,"Price":price})

car24_5th_data

,Model,list,Price
0,2018 Hyundai Grand i10 MAGNA 1.2 KAPPA VTVT MA...,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,92,499"
1,2020 Maruti New Wagon-R VXI 1.0 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹5,60,299"
2,2020 Maruti S PRESSO VXI,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,47,099"
3,2018 Maruti Alto K10 VXI MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹3,64,399"
4,2017 Maruti Swift VXI MANUAL,History\nNon-Accidental\nOwner\n2nd Owner\nKil...,"₹5,24,099"
...,...,...,...
130,2015 Hyundai Elite i20 SPORTZ (O) 1.4 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,33,800"
131,2017 Tata NEXON XZ+ 1.5 MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹6,29,599"
132,2019 Hyundai Verna 1.4 CRDi EX MT,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹7,82,599"
133,2018 Maruti Swift VDI AMT AUTOMATIC,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹6,26,899"
134,2011 Toyota Innova 2.5 V 7STR MANUAL,History\nNon-Accidental\nOwner\n1st Owner\nKil...,"₹4,76,299"

In [29]:
car24_5th_data.to_excel("car24_dataframe6.xlsx")